// Lomin Colors
$lomin-deep-orange: #f34a00;
$lomin-deep-black: #191213;

// Point Colors
$point1: #6779d7;
$point2: #5b5a81;
$point3: #bab9d1;
$point-green: #68d3da;
$point-red: #ff7777;

// Basic Colors
$basic-orange: #ffa425;
$basic-yellow: #ffd34e;

// Layer Colors
$layer1: #fafcff;
$layer2: #f2f6fa;
$layer3: #eaf0fb;

// loader gradient color
$stop1-color: $basic-orange;
$stop2-color: #f34a00;
$stop3-color: $basic-orange;
$stop4-color: $layer1;

$stop1-white: $basic-orange;
$stop2-white: $layer1;
$stop3-white: $basic-orange;
$stop4-white: #f34a00;

// Etc Colors
$d1: #fcfcfd;
$d2: #f2f2f3;
$d3: #c8c8ce;
$d4: #92909e;
$d5: #52525c;
