// Lomin Colors
$lomin-deep-orange: #f34a00;
$lomin-deep-black: #191213;

// M Colors
$m-900: #121212;
$m-800: #1b1b1b;
$m-700: #242424;
$m-600: #414141;
$m-500: #5e5e5e;
$m-400: #7c7c7c;
$m-300: #999999;

// N Colors
$n-800: #172b4d;
$n-600: #344563;
$n-500: #42526e;
$n-200: #6b778c;
$n-100: #7a869a;
$n-90: #8993a4;
$n-70: #a5adba;
$n-60: #b3bac5;
$n-50: #c1c7d0;
$n-40: #dfe1e6;
$n-30: #ebecf0;
$n-20: #f4f5f7;
$n-10: #fafbfc;
$n-0: #ffffff;

// R Colors
$r-400: #cc3340;
$r-300: #d93f4c;

// B Colors
$b-500: #0747a6;
$b-400: #0052cc;
$b-300: #0065ff;
$b-200: #2684ff;
$b-50: #deebff;

// P Colors
$p-500: #403294;
$p-50: #eae6ff;

// G Colors
$g-500: #006644;
$g-300: #228f67;
$g-200: #5eae91;
$g-50: #edf8f4;

// O Colors
$o-300: #fb8532;

// Background
$b-1: #f5f5f5;
